<h2>Setup</h2>

In [2]:
import requests
import pandas as pd
import json


api_key = 'L08gD6TFlLdYhl1sJKagbCVA5AJmcjCVOlWbUEdz'

PADD_NAMES = ['Demand Forecast', 'Solar Generation', 'Wind Generation']
PADD_KEY = ['EBA.CAL-ALL.DF.H ','EBA.CAL-ALL.NG.SUN.H','EBA.CAL-ALL.NG.WND.H']

<h2>Create a Demand Forecast Dataframe</h2>

In [26]:
url = 'https://api.eia.gov/series/?api_key=' + api_key + '&series_id=' + PADD_KEY[0]+"&num=48"
r = requests.get(url)
json_data = r.json()

if r.status_code == 200:
    print('Success!')
else:
    print('Error')


demand_forecast_df = pd.DataFrame(json_data.get('series')[0].get('data'),
                columns = ['Date', PADD_NAMES[0]])

demand_forecast_df

Success!

            Date  Demand Forecast
0   20220607T07Z            30193
1   20220607T06Z            32694
2   20220607T05Z            35127
3   20220607T04Z            36331
4   20220607T03Z            36743
5   20220607T02Z            36973
6   20220607T01Z            36197
7   20220607T00Z            34461
8   20220606T23Z            32791
9   20220606T22Z            31107
10  20220606T21Z            29704
11  20220606T20Z            28678
12  20220606T19Z            28386
13  20220606T18Z            28326
14  20220606T17Z            28570
15  20220606T16Z            29167
16  20220606T15Z            28559
17  20220606T14Z            27472
18  20220606T13Z            26206
19  20220606T12Z            25123
20  20220606T11Z            24772
21  20220606T10Z            25098
22  20220606T09Z            25861
23  20220606T08Z            27126
24  20220606T07Z            28703
25  20220606T06Z            30941
26  20220606T05Z            32911
27  20220606T04Z            33639
28  20220606T03Z            33411
29  20220606T02Z            33191
30  20220606T01Z            31861
31  20220606T00Z            29951
32  20220605T23Z            28207
33  20220605T22Z            26682
34  20220605T21Z            25498
35  20220605T20Z            24699
36  20220605T19Z            24253
37  20220605T18Z            24157
38  20220605T17Z            24111
39  20220605T16Z            24214
40  20220605T15Z            23898
41  20220605T14Z            23712
42  20220605T13Z            24241
43  20220605T12Z            24383
44  20220605T11Z            24695
45  20220605T10Z            25382
46  20220605T09Z            26390
47  20220605T08Z            27626

<h2>Create Solar Generation Dataframe</h2>

In [27]:
url = 'https://api.eia.gov/series/?api_key=' + api_key + '&series_id=' + PADD_KEY[1]+"&num=48"
r = requests.get(url)
json_data = r.json()
jsons.append(json_data)

if r.status_code == 200:
    print('Success!')
else:
    print('Error')


solar_generation_df = pd.DataFrame(json_data.get('series')[0].get('data'),
                columns = ['Date', PADD_NAMES[1]])

solar_generation_df

Success!

            Date  Solar Generation
0   20220606T07Z                 0
1   20220606T06Z                27
2   20220606T05Z                27
3   20220606T04Z                66
4   20220606T03Z               248
5   20220606T02Z              3227
6   20220606T01Z              9467
7   20220606T00Z             12713
8   20220605T23Z             13921
9   20220605T22Z             14332
10  20220605T21Z             12972
11  20220605T20Z             14113
12  20220605T19Z             13287
13  20220605T18Z             12665
14  20220605T17Z             11468
15  20220605T16Z             10523
16  20220605T15Z              8211
17  20220605T14Z              5315
18  20220605T13Z               618
19  20220605T12Z                -9
20  20220605T11Z                -6
21  20220605T10Z                -6
22  20220605T09Z                -4
23  20220605T08Z                -4
24  20220605T07Z                95
25  20220605T06Z                95
26  20220605T05Z                96
27  20220605T04Z                89
28  20220605T03Z               215
29  20220605T02Z              2299
30  20220605T01Z              6654
31  20220605T00Z             11277
32  20220604T23Z             12262
33  20220604T22Z             12331
34  20220604T21Z             12950
35  20220604T20Z             12856
36  20220604T19Z             12900
37  20220604T18Z             13025
38  20220604T17Z             13126
39  20220604T16Z             12316
40  20220604T15Z             10443
41  20220604T14Z              5534
42  20220604T13Z               605
43  20220604T12Z                -9
44  20220604T11Z                -6
45  20220604T10Z                -6
46  20220604T09Z                -4
47  20220604T08Z                -4

<h2>Create A Wind Generation Dataframe</h2>

In [28]:
url = 'https://api.eia.gov/series/?api_key=' + api_key + '&series_id=' + PADD_KEY[2]+"&num=48"
r = requests.get(url)
json_data = r.json()
jsons.append(json_data)

if r.status_code == 200:
    print('Success!')
else:
    print('Error')


wind_generation_df = pd.DataFrame(json_data.get('series')[0].get('data'),
                columns = ['Date', PADD_NAMES[2]])

wind_generation_df

Success!

            Date  Wind Generation
0   20220606T07Z             4560
1   20220606T06Z             4316
2   20220606T05Z             4364
3   20220606T04Z             4472
4   20220606T03Z             4036
5   20220606T02Z             3877
6   20220606T01Z             4238
7   20220606T00Z             4184
8   20220605T23Z             4196
9   20220605T22Z             4167
10  20220605T21Z             4273
11  20220605T20Z             4174
12  20220605T19Z             4132
13  20220605T18Z             3807
14  20220605T17Z             3615
15  20220605T16Z             3719
16  20220605T15Z             3893
17  20220605T14Z             3858
18  20220605T13Z             4041
19  20220605T12Z             3964
20  20220605T11Z             4053
21  20220605T10Z             3938
22  20220605T09Z             4174
23  20220605T08Z             4351
24  20220605T07Z             4285
25  20220605T06Z             3738
26  20220605T05Z             3879
27  20220605T04Z             4014
28  20220605T03Z             4036
29  20220605T02Z             4284
30  20220605T01Z             4732
31  20220605T00Z             4938
32  20220604T23Z             4931
33  20220604T22Z             4847
34  20220604T21Z             4838
35  20220604T20Z             4596
36  20220604T19Z             4707
37  20220604T18Z             4525
38  20220604T17Z             4585
39  20220604T16Z             4278
40  20220604T15Z             4131
41  20220604T14Z             4144
42  20220604T13Z             4112
43  20220604T12Z             4132
44  20220604T11Z             4205
45  20220604T10Z             4181
46  20220604T09Z             4209
47  20220604T08Z             4349

<h2>Merge Dataframes</h2>

In [29]:
final_df = demand_forecast_df.merge(solar_generation_df, how='outer', left_on='Date', right_on='Date')
    
final_df = final_df.merge(wind_generation_df, how='outer', left_on='Date', right_on='Date')

final_df

            Date  Demand Forecast  Solar Generation  Wind Generation
0   20220607T07Z          30193.0               NaN              NaN
1   20220607T06Z          32694.0               NaN              NaN
2   20220607T05Z          35127.0               NaN              NaN
3   20220607T04Z          36331.0               NaN              NaN
4   20220607T03Z          36743.0               NaN              NaN
..           ...              ...               ...              ...
67  20220604T12Z              NaN              -9.0           4132.0
68  20220604T11Z              NaN              -6.0           4205.0
69  20220604T10Z              NaN              -6.0           4181.0
70  20220604T09Z              NaN              -4.0           4209.0
71  20220604T08Z              NaN              -4.0           4349.0

[72 rows x 4 columns]

<h2>Dataframe To Json String</h2>

In [30]:
def pd_to_json(df, save_file=None, as_dict=False):
  # set index label to the date
  df.set_axis(df['Date'], axis='index', inplace=True)

  # orient='index' sets the keys (rows) to index labels
  # double_precision = 0 essentially casts float to int
  json_str = df.to_json(path_or_buf=save_file, orient='index', double_precision=0)

  if save_file is not None:
    return

  if as_dict:
    return json.loads(json_str)

  return json_str


pd_to_json(final_df)

'{"20220607T07Z":{"Date":"20220607T07Z","Demand Forecast":30193,"Solar Generation":null,"Wind Generation":null},"20220607T06Z":{"Date":"20220607T06Z","Demand Forecast":32694,"Solar Generation":null,"Wind Generation":null},"20220607T05Z":{"Date":"20220607T05Z","Demand Forecast":35127,"Solar Generation":null,"Wind Generation":null},"20220607T04Z":{"Date":"20220607T04Z","Demand Forecast":36331,"Solar Generation":null,"Wind Generation":null},"20220607T03Z":{"Date":"20220607T03Z","Demand Forecast":36743,"Solar Generation":null,"Wind Generation":null},"20220607T02Z":{"Date":"20220607T02Z","Demand Forecast":36973,"Solar Generation":null,"Wind Generation":null},"20220607T01Z":{"Date":"20220607T01Z","Demand Forecast":36197,"Solar Generation":null,"Wind Generation":null},"20220607T00Z":{"Date":"20220607T00Z","Demand Forecast":34461,"Solar Generation":null,"Wind Generation":null},"20220606T23Z":{"Date":"20220606T23Z","Demand Forecast":32791,"Solar Generation":null,"Wind Generation":null},"20220606T22Z":{"Date":"20220606T22Z","Demand Forecast":31107,"Solar Generation":null,"Wind Generation":null},"20220606T21Z":{"Date":"20220606T21Z","Demand Forecast":29704,"Solar Generation":null,"Wind Generation":null},"20220606T20Z":{"Date":"20220606T20Z","Demand Forecast":28678,"Solar Generation":null,"Wind Generation":null},"20220606T19Z":{"Date":"20220606T19Z","Demand Forecast":28386,"Solar Generation":null,"Wind Generation":null},"20220606T18Z":{"Date":"20220606T18Z","Demand Forecast":28326,"Solar Generation":null,"Wind Generation":null},"20220606T17Z":{"Date":"20220606T17Z","Demand Forecast":28570,"Solar Generation":null,"Wind Generation":null},"20220606T16Z":{"Date":"20220606T16Z","Demand Forecast":29167,"Solar Generation":null,"Wind Generation":null},"20220606T15Z":{"Date":"20220606T15Z","Demand Forecast":28559,"Solar Generation":null,"Wind Generation":null},"20220606T14Z":{"Date":"20220606T14Z","Demand Forecast":27472,"Solar Generation":null,"Wind Generation":null},"20220606T13Z":{"Date":"20220606T13Z","Demand Forecast":26206,"Solar Generation":null,"Wind Generation":null},"20220606T12Z":{"Date":"20220606T12Z","Demand Forecast":25123,"Solar Generation":null,"Wind Generation":null},"20220606T11Z":{"Date":"20220606T11Z","Demand Forecast":24772,"Solar Generation":null,"Wind Generation":null},"20220606T10Z":{"Date":"20220606T10Z","Demand Forecast":25098,"Solar Generation":null,"Wind Generation":null},"20220606T09Z":{"Date":"20220606T09Z","Demand Forecast":25861,"Solar Generation":null,"Wind Generation":null},"20220606T08Z":{"Date":"20220606T08Z","Demand Forecast":27126,"Solar Generation":null,"Wind Generation":null},"20220606T07Z":{"Date":"20220606T07Z","Demand Forecast":28703,"Solar Generation":0,"Wind Generation":4560},"20220606T06Z":{"Date":"20220606T06Z","Demand Forecast":30941,"Solar Generation":27,"Wind Generation":4316},"20220606T05Z":{"Date":"20220606T05Z","Demand Forecast":32911,"Solar Generation":27,"Wind Generation":4364},"20220606T04Z":{"Date":"20220606T04Z","Demand Forecast":33639,"Solar Generation":66,"Wind Generation":4472},"20220606T03Z":{"Date":"20220606T03Z","Demand Forecast":33411,"Solar Generation":248,"Wind Generation":4036},"20220606T02Z":{"Date":"20220606T02Z","Demand Forecast":33191,"Solar Generation":3227,"Wind Generation":3877},"20220606T01Z":{"Date":"20220606T01Z","Demand Forecast":31861,"Solar Generation":9467,"Wind Generation":4238},"20220606T00Z":{"Date":"20220606T00Z","Demand Forecast":29951,"Solar Generation":12713,"Wind Generation":4184},"20220605T23Z":{"Date":"20220605T23Z","Demand Forecast":28207,"Solar Generation":13921,"Wind Generation":4196},"20220605T22Z":{"Date":"20220605T22Z","Demand Forecast":26682,"Solar Generation":14332,"Wind Generation":4167},"20220605T21Z":{"Date":"20220605T21Z","Demand Forecast":25498,"Solar Generation":12972,"Wind Generation":4273},"20220605T20Z":{"Date":"20220605T20Z","Demand Forecast":24699,"Solar Generation":14113,"Wind Generation":4174},"20220605T19Z":{"Date":"20220605T19Z","Demand Forecast":24253,"Solar Generation":13287,"Wind Generation":4132},"20220605T18Z":{"Date":"20220605T18Z","Demand Forecast":24157,"Solar Generation":12665,"Wind Generation":3807},"20220605T17Z":{"Date":"20220605T17Z","Demand Forecast":24111,"Solar Generation":11468,"Wind Generation":3615},"20220605T16Z":{"Date":"20220605T16Z","Demand Forecast":24214,"Solar Generation":10523,"Wind Generation":3719},"20220605T15Z":{"Date":"20220605T15Z","Demand Forecast":23898,"Solar Generation":8211,"Wind Generation":3893},"20220605T14Z":{"Date":"20220605T14Z","Demand Forecast":23712,"Solar Generation":5315,"Wind Generation":3858},"20220605T13Z":{"Date":"20220605T13Z","Demand Forecast":24241,"Solar Generation":618,"Wind Generation":4041},"20220605T12Z":{"Date":"20220605T12Z","Demand Forecast":24383,"Solar Generation":-9,"Wind Generation":3964},"20220605T11Z":{"Date":"20220605T11Z","Demand Forecast":24695,"Solar Generation":-6,"Wind Generation":4053},"20220605T10Z":{"Date":"20220605T10Z","Demand Forecast":25382,"Solar Generation":-6,"Wind Generation":3938},"20220605T09Z":{"Date":"20220605T09Z","Demand Forecast":26390,"Solar Generation":-4,"Wind Generation":4174},"20220605T08Z":{"Date":"20220605T08Z","Demand Forecast":27626,"Solar Generation":-4,"Wind Generation":4351},"20220605T07Z":{"Date":"20220605T07Z","Demand Forecast":null,"Solar Generation":95,"Wind Generation":4285},"20220605T06Z":{"Date":"20220605T06Z","Demand Forecast":null,"Solar Generation":95,"Wind Generation":3738},"20220605T05Z":{"Date":"20220605T05Z","Demand Forecast":null,"Solar Generation":96,"Wind Generation":3879},"20220605T04Z":{"Date":"20220605T04Z","Demand Forecast":null,"Solar Generation":89,"Wind Generation":4014},"20220605T03Z":{"Date":"20220605T03Z","Demand Forecast":null,"Solar Generation":215,"Wind Generation":4036},"20220605T02Z":{"Date":"20220605T02Z","Demand Forecast":null,"Solar Generation":2299,"Wind Generation":4284},"20220605T01Z":{"Date":"20220605T01Z","Demand Forecast":null,"Solar Generation":6654,"Wind Generation":4732},"20220605T00Z":{"Date":"20220605T00Z","Demand Forecast":null,"Solar Generation":11277,"Wind Generation":4938},"20220604T23Z":{"Date":"20220604T23Z","Demand Forecast":null,"Solar Generation":12262,"Wind Generation":4931},"20220604T22Z":{"Date":"20220604T22Z","Demand Forecast":null,"Solar Generation":12331,"Wind Generation":4847},"20220604T21Z":{"Date":"20220604T21Z","Demand Forecast":null,"Solar Generation":12950,"Wind Generation":4838},"20220604T20Z":{"Date":"20220604T20Z","Demand Forecast":null,"Solar Generation":12856,"Wind Generation":4596},"20220604T19Z":{"Date":"20220604T19Z","Demand Forecast":null,"Solar Generation":12900,"Wind Generation":4707},"20220604T18Z":{"Date":"20220604T18Z","Demand Forecast":null,"Solar Generation":13025,"Wind Generation":4525},"20220604T17Z":{"Date":"20220604T17Z","Demand Forecast":null,"Solar Generation":13126,"Wind Generation":4585},"20220604T16Z":{"Date":"20220604T16Z","Demand Forecast":null,"Solar Generation":12316,"Wind Generation":4278},"20220604T15Z":{"Date":"20220604T15Z","Demand Forecast":null,"Solar Generation":10443,"Wind Generation":4131},"20220604T14Z":{"Date":"20220604T14Z","Demand Forecast":null,"Solar Generation":5534,"Wind Generation":4144},"20220604T13Z":{"Date":"20220604T13Z","Demand Forecast":null,"Solar Generation":605,"Wind Generation":4112},"20220604T12Z":{"Date":"20220604T12Z","Demand Forecast":null,"Solar Generation":-9,"Wind Generation":4132},"20220604T11Z":{"Date":"20220604T11Z","Demand Forecast":null,"Solar Generation":-6,"Wind Generation":4205},"20220604T10Z":{"Date":"20220604T10Z","Demand Forecast":null,"Solar Generation":-6,"Wind Generation":4181},"20220604T09Z":{"Date":"20220604T09Z","Demand Forecast":null,"Solar Generation":-4,"Wind Generation":4209},"20220604T08Z":{"Date":"20220604T08Z","Demand Forecast":null,"Solar Generation":-4,"Wind Generation":4349}}'

<h2>Dataframe To CSV File</h2>

In [31]:
from pathlib import Path  
filepath = Path('/content/CSV/EnergyDataFrameToCSV.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)  
final_df.to_csv(filepath)

<h2>Connect to the Database</h2>

In [ ]:
#Must use your serviceAccountKey.json file from firebase

import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

#Initialize the database credentials
cred = credentials.Certificate("/content/serviceAccountKey.json") 
firebase_admin.initialize_app(cred)

#Database Connection
db = firestore.client()

<h2>DataFrame to the Database</h2>

In [ ]:
# root collection reference
db_root_ref = db.collection('California Renewable Energy')

df_json = pd_to_json(final_df, as_dict=True)

# update database in one atomic operation
batch = db.batch()
for date, cols in df_json.items():
  row_doc = db_root_ref.document(date)
  batch.set(row_doc, cols, merge=True)
batch.commit()